@using BulkyBook.Model.ViewModels

@model ShoppingCart;

<div class="col-12 col-md-6 text-end">
    <table class="table-bordered mt-4">

        <thead>
            <th>Title</th>
            <th>Author</th>
            <th>ISNB</th>
            <th>Category</th>
            <th>CoverType</th>


        </thead>

        <tbody>


        <td><h1>@Model.Product.Title</h1></td>


        <td><h1>@Model.Product.Author</h1></td>

        <td><h1>@Model.Product.ISNB</h1></td>

        <td><h1>@Model.Product.Category.Name</h1></td>

        <td><h1>@Model.Product.CoverType.Name</h1></td>



        </tbody>
        

    </table>
    <div class="row pl-2">
        <div class="col-2 text-primary"><h4>Count</h4></div>
        <div class="col-2"><input asp-for="Count" class="form-control"/></div>
    </div>
    <div class="col-12 col-lg-3 offset-lg-1 text-center">

        <img src="@Model.Product.ImageUrl" />
    </div>
    <div class="row">

        <div class="col-12 col-md-6 pb-1">
            <a class="btn btn-success form-control" style="height:50px" asp-action="Index">Back to Home</a>


        </div>
        <div class="col-12 col-md-6 pb-1">
            <button type="submit" value="Add to Cart" class="btn btn-primary form-control" style="height:50px">Add to Cart</button>


        </div>


    </div>
</div>